* {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#charts {
  width: 70%;
  height: 70%;
}

#uploadButton {
  background-color: rgb(22, 119, 255);
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;

  text-align: center;
  line-height: 40px;

  cursor: pointer;
  transition: all 0.3s ease;
}

#uploadButton:hover {
  background-color: #4096ff;
}
